.container {
  position: relative;
  white-space: nowrap;
}

.container .suggest{
  border: none;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 6;
  outline: none;
  border-bottom: 1px solid #757575;
}

.container .suggestDisabled{
  border: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  color: silver;
}

.container ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #eee;
  border-top: 0;
  box-sizing: border-box;
  top:17px;
}

.container ul:empty{
  border: none;
}

.container ul li {
  padding: 2px;
}

.container ul li.selected {
  background: #FFF9C4;
}
